In [1]:
import pandas as pd

df1 = pd.read_csv("../extract/sjlzkzrdpw/person.csv")
df2 = pd.read_csv("../extract/twzbvytyjp/person.csv")

df1

   hospcode   pid  prename   fname  lname       birth  sex
0      5605  4409        2  จ้ำม่ำ  นะจ๊ะ  2010-06-14    2

In [2]:
df2

   hospcode   pid  prename fname lname       birth  sex
0      5605  4400        2  test  test  2010-06-14    2

In [5]:
df4 = [df1, df2]
df4

[   hospcode   pid  prename   fname  lname       birth  sex
 0      5605  4409        2  จ้ำม่ำ  นะจ๊ะ  2010-06-14    2,
    hospcode   pid  prename fname lname       birth  sex
 0      5605  4400        2  test  test  2010-06-14    2]

In [6]:
df3 = df1.merge(df2,how='outer')

df3

   hospcode   pid  prename   fname  lname       birth  sex
0      5605  4409        2  จ้ำม่ำ  นะจ๊ะ  2010-06-14    2
1      5605  4400        2    test   test  2010-06-14    2

In [8]:
df3.to_csv("../extract/merge.csv", index=False)